<h1 class="text-center">Editing user</h1>

<%= render "form", user: @user %>

<br>

<div class="text-center">
  <%= link_to "Show this user", @user, class: "search-button" %> |
  <%= link_to "Back to users", users_path, class: "search-button" %>
</div>
